@font-face {
  font-family: vazir;
  src: url("/fonts/Vazirmatn-Regular.woff2");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-90deg, #7f86d8, #90e2e2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: vazir;
  position: relative;
  height: 100vh;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

#row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.box {
  background-color: #fff;
  width: 25%;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #00000060;
  cursor: pointer;
  transition: all 0.3s ease;
}

.box:hover {
  transform: scale(1.03);
  transition: all 0.5s ease;
}

.box img {
  width: 100%;
  height: 40%;
  object-fit: fill;
}

.box .texts {
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.box .tags {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.box .tags p {
  background: linear-gradient(0deg, #82c4e8, #338df1);
  color: #fff;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 5px;
}

.box h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.box p {
  text-align: justify;
  line-height: 1.5;
}

.box .auther {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
}

.box .auther img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.box .auther .info p {
  font-size: 13px;
  color: #00000096;
}

div[popover] {
  background: linear-gradient(0deg, #82c4e8, #338df1);
  border-radius: 25px;
  border: 0;
  padding: 15px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #000;
}

div[popover] p {
  font-size: 20px;
  font-weight: bold;
}

footer {
  text-align: center;
}

footer button {
  background-color: transparent;
  border: 0;
  font-size: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  body {
    height: auto;
  }

  #row {
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
  }

  .box {
    width: 70%;
    height: 550px;
    margin-bottom: 20px;
  }

  .box img {
    height: 35%;
  }

  .box .texts {
    padding: 10px;
    height: 64%;
  }

  .box .texts h2 {
    font-size: 1.5rem;
  }

  .box .tags p {
    font-size: 12px;
  }

  .box p {
    font-size: 15px;
  }

  .box .auther img {
    width: 40px;
    height: 40px;
  }
}